[Bb]in/
[Oo]bj/
bin/
obj/
.vscode/
.DS_Store
.env

.vs/
*.user
*.suo
*.sln.docstates
*.sln

packages/
node_modules/
bin/Debug/
bin/Release/

appsettings.Development.json
appsettings.Local.json
*.pubxml

*.coverage

coveragereport

TestResults